<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="utf-8">
    <title>Practice Vue.js</title>
    <style>
        .red { color:red }
        .bold { font-weight: bold }
    </style>
</head>
<body>
    <div id="myapp01"> <!-- interface(View) -->
        <!-- 
            v-から始まる命令を「ディレクティブ」と呼ぶ。
            htmlの特殊属性として書いておき、objectの dataや振る舞いに応じた
            interfaceを作る。
        -->
        <div v-text="count"></div> <!-- v-xx には、medhod名やdata名を記述する-->
        <div v-text="count * 10"></div>
        <div v-text="'(' + count + ')'"></div>
        <div v-text="count ? count : '--'"></div>
        <button v-on="click: countUp">Up1</button> <!-- メソッドをコール -->
        <button v-on="click: count++">Up2</button> <!-- 直接式を書くこともできる -->
    </div>

    <div id="myapp02">
        <div v-text="content2"></div>
        <div>{{content2}}</div> <!-- mustacheという記法 -->
        <div>{{'content:' + content2}}</div> <!-- 文字列の連結も可 -->
    </div>

    <div id="myapp03">
        <div v-text="content3"></div> <!-- セキュリティ上の理由で、タグが評価されずに、そのまま出力される -->
        <div v-html="content3"></div> <!-- こうする事で、タグを評価して出力できる。（ただし、表示する文字列が安全であるかを確認しておく） -->
        <div>{{{content3}}}</div>     <!-- こう記述してもタグを評価する。 -->
    </div>

    <div id="myapp04">
        <button v-on="click: visibleSwitch">VisibleSwitch</button>
        <!-- 非表示 -->
        <div v-show="showContent">
            {{content}}
        </div>
        <!-- 要素そのものを削除 -->
        <div v-if="showContent">
            {{content}}
        </div>
    </div>

    <div id="myapp05">
        <div v-class="myStyle05"> <!--  -->
            {{content5}}
        </div>
    </div>

    <div id="myapp06">
        <button v-on="click: fontColorSwitch">fontColorSwitch</button>
        <button v-on="click: boldSwitch">boldSwitch</button>
        <div v-class="red: isRed, bold: isBold">
            {{content6}}
        </div>
    </div>

    <div id="myapp07">
        <ul>
            <li v-repeat="d1">{{$value}}</li>
        </ul>
        <ul>
            <li v-repeat="d2">{{$key}} - {{$value}}</li>
        </ul>
        <ul>
            <li v-repeat="d3">{{$index}}: {{name}} - {{score}}</li>
        </ul>
        <ul>
            <!-- 番号だけを表示 -->
            <li v-repeat="5">{{$index}}</li>
        </ul>
    </div>

    <div id="myapp08">
        <p>
            <input type="text" v-model="name">
            {{name}}
        </p>
        <p>
            <input type="checkbox" v-model="isAdmin">
            {{isAdmin ? "admin" : "not admin"}}
        </p>
        <p>
            <input type="radio" name="phone" v-model="phone" value="iphone">
            <input type="radio" name="phone" v-model="phone" value="android">
            {{phone}}
        </p>
        <p>
            <select v-model="city">
                <option value="tokyo">tokyo</option>
                <option value="kyoto">kyoto</option>
                <option value="osaka">osaka</option>
            </select>
            {{city}}
        </p>
    </div>
    
    
    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/0.11.4/vue.min.js"></script>
    <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.10/vue.js'></script>   -->
    <script src="assets/practice_vuejs.js"></script>
    <script>
        // 【 Model View ViewModel - MVVM 】
        // object(ViewModel) - data/methods(Model) <--> interface(View)

        //「data/methods」に、どのインターフェースを結び付
        //「data/methods」に、どのインターフェースを結び付けるかを指定する。（以下では elが相当する）

        var vm = new Vue({
            el: '#myapp01', //elは、「element」かな。
            data: {
                count: 0
            },
            methods: {
                countUp: function() {
                    this.count++;
                }
            }
        });


    </script>
</body>
</html>

