body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
  }

hr {
  height:0px;
  border-radius: 2px;
  border: 2px solid #08c;
  width: 80%;
}

.container {
  width: 300px;
  margin: auto;
}
  
.myapp h1 {
  font-size: 20px;
  border-bottom: 1px solid #ddd;
  padding: 16px 0;
}

.myapp li {
  line-height: 1.5;
}

.myapp input[type="text"] {
  padding: 2px;
}

.command {
  font-size: 12px;
  cursor: pointer;
  color: #08c;
}

.myapp ul {
  padding: 0;
  list-style: none;
}

.myapp li > span.done {
  text-decoration: line-through;
  color: #bbb;
}

.info {
  color: #bbb;
  font-size: 12px;
  font-weight: normal;
}